{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="{% static 'styles/style.css' %}">
        <title>StudyBuddy - Find study partners around the world!</title>
    </head>

    <body>
        <!-- Start Navbar -->
        {% include 'navbar.html' %}
        <!-- End Navbar -->

        {% if messages %}
        <ul class="messages">
            {% for massage in messages %}
            <li>{{massage}}</li>
            {% endfor %}
        </ul>    
        {% endif %}    

        <!-- Start Content -->
        {% block content %}
        {% endblock content %}
        <!-- End Content -->
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>